<div class="card">
  <div class="card-header">
    <h4>Edit or Create New Item</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" required/>
      </div>
      <div class="form-group">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" formControlName="desc" placeholder="Enter Description" required/>
      </div>
      <div class="form-row ">
        <div class="form-group col-md-2 text-center">
          <label class="switcher switcher-lg">
            <input type="checkbox" class="switcher-input" formControlName="animated">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Animated</span>
          </label>
        </div>
        <div class="form-group col-md-2 text-center">
          <label class="switcher switcher-lg">
            <input type="checkbox" class="switcher-input" formControlName="traversal">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Traversal</span>
          </label>
        </div>
        <div class="form-group col-md-2 text-center">
          <label class="switcher switcher-lg">
            <input type="checkbox" class="switcher-input" formControlName="reactive">
            <span class="switcher-indicator">
              <span class="switcher-yes"></span>
              <span class="switcher-no"></span>
            </span>
            <span class="switcher-label">Reactive</span>
          </label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form-label">Rarity Type</label>
          <select class="form-control" formControlName="rarityType" required>
            <option>LEGENDARY</option>
            <option>EPIC</option>
            <option>RARE</option>
            <option>UNCOMMON</option>
            <option>COMMON</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Item Type</label>
          <select class="form-control" formControlName="itemType" required>
            <option>BACKBLING</option>
            <option>OUTFIT</option>
            <option>HARVESTINGTOOL</option>
            <option>OUTFIT</option>
            <option>GLIDER</option>
            <option>CONTRAIL</option>
            <option>MUSIC</option>
            <option>PET</option>
            <option>DANCE</option>
            <option>SPRAY</option>
            <option>TOY</option>
            <option>EMOTICON</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Status</label>
          <select class="form-control" formControlName="status" required>
            <option>RELEASED</option>
            <option>UNRELEASED</option>
          </select>
        </div>
      </div>

      <div>
        <div class="form-inline d-flex justify-content-between align-items-center">
          <label class="form-label">Images</label>
          <button type="button" class="btn btn-primary btn-round  mb-2 col-md-auto d-block" (click)="addImage()"><span
            class="ion ion-md-add"></span>&nbsp;
            Add Image
          </button>
        </div>

        <div formArrayName="images">
          <div *ngFor="let image of images.controls; let i = index;">
            <div class="form-inline mb-2">
              <input type="text" class="form-control mr-2 col" [formControlName]="i">
              <button type="button" class="btn icon-btn btn-outline-danger col-md-auto" (click)="deleteImage(i)">
                <span class="ion ion-md-close"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <label class="form-label">Obtained</label>
      <div class="card-body">
        <div formGroupName="obtained">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label class="form-label">Season</label>
              <input type="text" class="form-control" formControlName="season" required/>
            </div>
            <div class="form-group col-md-3">
              <label class="form-label">Tier</label>
              <input type="text" class="form-control" formControlName="tier" required/>
            </div>
            <div class="form-group col-md-3">
              <label class="form-label">VBuck Price</label>
              <input type="text" class="form-control" formControlName="vbuckPrice" required/>
            </div>
            <div class="form-group col-md-3">
              <label class="form-label">Price</label>
              <input type="text" class="form-control" formControlName="price" required/>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">Promo</label>
            <input type="text" class="form-control" formControlName="promo" required/>
          </div>
          <div class="form-group">
            <label class="form-label">IncludedInOutfit</label>
            <input type="text" class="form-control" formControlName="includedInOutfit" required/>
          </div>
          <div class="form-group">
            <label class="form-label">Challenge</label>
            <input type="text" class="form-control" formControlName="challenge" required/>
          </div>
        </div>
        <!--</form>-->

      </div>

      <div class="form-group">
        <label class="form-label">Style Set</label>
        <input type="text" class="form-control" formControlName="styleSet"/>
      </div>
      <div class="form-group">
        <label class="form-label">Set</label>
        <input type="text" class="form-control" formControlName="set"/>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!itemForm.valid">Save</button>
    </form>
  </div>
</div>




