<div class="card" *ngIf="item?.name">
  <div class="card-header">
    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
      <div>Item View</div>
      <button target="_blank" [routerLink]="['/details/',item.id]" type="button"
              class="btn btn-primary btn-round d-block"><span class="ion ion-md-eye"></span>&nbsp; View Detail Item
      </button>
    </h4>
  </div>

  <div class="card-body">
    <div class="form-group">
      <label class="form-label">Name</label>
      <div class="form-control">{{item.name}}</div>
    </div>
    <div class="form-group">
      <label class="form-label">Description</label>
      <div class="form-control">{{item.desc}}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-label">Rarity Type</label>
        <div class="form-control">{{item.rarityType}}</div>
      </div>
      <div class="form-group col-md-4">
        <label class="form-label">Item Type</label>
        <div class="form-control">{{item.itemType}}</div>
      </div>
      <div class="form-group col-md-4">
        <label class="form-label">Status</label>
        <div class="form-control">{{item.status}}</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-label">Animated</label>
        <div class="form-control">{{item.animated}}</div>
      </div>
      <div class="form-group col-md-4">
        <label class="form-label">Traversal</label>
        <div class="form-control">{{item.traversal}}</div>
      </div>
      <div class="form-group col-md-4">
        <label class="form-label">Reactive</label>
        <div class="form-control">{{item.reactive}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Images</label>
      <div class="form-control">{{item.images}}</div>
    </div>

    <label class="form-label">Obtained</label>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label class="form-label">Season</label>
          <div class="form-control">{{item.obtained.season}}</div>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">Tier</label>
          <div class="form-control">{{item.obtained.tier}}</div>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">VBuck Price</label>
          <div class="form-control">{{item.obtained.vbuckPrice}}</div>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">Price</label>
          <div class="form-control">{{item.obtained.price}}</div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Promo</label>
        <div class="form-control">{{item.obtained.promo}}</div>
      </div>
      <div class="form-group">
        <label class="form-label">IncludedInOutfit</label>
        <div class="form-control">{{item.obtained.includedInOutfit}}</div>
      </div>
      <div>
        <label class="form-label">Challenge Set</label>
        <div class="form-control">{{item.obtained.challenge}}</div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Style Set</label>
      <div class="form-control">{{item.styleSet}}</div>
    </div>
    <div class="form-group">
      <label class="form-label">Set</label>
      <div class="form-control">{{item.set}}</div>
    </div>
  </div>
</div>



