<div class="card">
  <div class="card-header text-large">All Items from the Season</div>
  <div class="row no-gutters row-bordered" *ngFor="let item of items">
    <div class="media col-md-6 col-lg-4 p-4">
      <a [routerLink]="['/details', getItemID(item)]" class="d-block ui-w-140 ui-bordered mr-3">
        <div [ngSwitch]="item.rarityType">
          <div *ngSwitchCase="'LEGENDARY'" style="background-image: url('http://localhost:8080/images/background/legendary.png'); background-size: cover;">
            <img class="card-img-top p-1" src="{{item.images[0]}}" alt="{{item.name}}" >
          </div>
          <div *ngSwitchCase="'EPIC'" style="background-image: url('http://localhost:8080/images/background/epic.png'); background-size: cover;">
            <img class="card-img p-1" src="{{item.images[0]}}" alt="{{item.name}}" >
          </div>
          <div *ngSwitchCase="'UNCOMMON'"style="background-image: url('http://localhost:8080/images/background/uncommon.png'); background-size: cover;">
            <img class="card-img p-1" src="{{item.images[0]}}" alt="{{item.name}}">
          </div>
          <div *ngSwitchCase="'RARE'" style="background-image: url('http://localhost:8080/images/background/rare.png'); background-size: cover;">
            <img class="card-img p-1" src="{{item.images[0]}}" alt="{{item.name}}">
          </div>
          <div *ngSwitchCase="'COMMON'" style="background-image: url('http://localhost:8080/images/background/common.png'); background-size: cover;">
            <img class="card-img p-1" src="{{item.images[0]}}" alt="{{item.name}}">
          </div>
        </div>
      </a>
      <div class="media-body text-large" >
        <a class="text-dark">{{item.name}}</a>
        <br>
        <strong><span class="text-muted">Tier:</span>&nbsp; {{item.obtained.tier}}</strong>
      </div>
    </div>

  </div>
</div>
